.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#myCanvas {
  border: red solid 2px;
}

.colorBtn {
  border: none;
  padding: 1rem 2rem;
}

.colorBtn:hover {
  cursor: pointer;
}

.btnRed {
  background-color: #f70202;
}
.btnBlack {
  background-color: #080808;
  border-radius: 10px 0 0 10px;
}
.btnBlue {
  background-color: #0213f7;
}
.btnGreen {
  background-color: #0bf702;
  border-radius: 0 10px 10px 0;
}
.btnYellow {
  background-color: #f7ef02;
}
